html{
    margin: 0;
    background: var(--sColor);
    color: var(--dColor);
    --sColor: #261E35;
    --aColor: #4DBBF6;
    --bColor: #EC5EB7;
    --cColor: #B783EB;
    --dColor: #ffffff;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.content{
    grid-column: span 9;
}
/* 
 TOPBAR: Topbar stylesheet
*/
.topbar{
    width: 100%;
    height: 5rem;
    overflow: hidden;
}

.topbar-container{
    width: 100%;
    display: block;
    position: relative;
}

.topbar-left{
    top: 0;
    left: 0;
    position: absolute;
    margin: .5rem auto;
}

.topbar-right{
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.topbar-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo{
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

/* 
BANNER: Banner stylesheet
*/
.banner{
    width: 25rem;
    height: 15rem;
    box-shadow: 0 0 .3rem;
    border-radius: .3rem;
    margin: .5rem auto;
    font-size: 1rem;
    display: flex;
    position: relative;
    background: rgb(77,187,246);
    background: linear-gradient(241deg, rgba(77,187,246,1) 0%, rgba(183,131,235,1) 42%, rgba(236,94,183,1) 100%);
}

.banner-content{
    flex: .6;
    padding: .3rem .5rem;
}

.banner-button{
    border: none;
    font-size: .8rem;
    background: var(--sColor);
    color: var(--dColor);
    box-shadow: 0 0 .1rem #261E35;
    border-radius: .2rem;
    padding: .3rem .8rem;
}

.banner-button:hover{
    opacity: .8;
}

.banner-image{
    flex: .3;
    padding: 0;
    position: relative;
}

.banner-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* 
 FEATURES: Features stylesheet
*/
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.feature-item{
    width: 15rem;
    height: 5rem;
    display: flex;
    margin: .2rem .5rem;
    box-shadow: 0 0 .1rem var(--bColor);
    border-radius: .3rem;
    position: relative;
}

.feature-item:hover{
    padding: -.3rem 1rem;
    transform: scale(1.1);
}

.item-icon{
    flex: .3;
    width: 100%;
    height: 100%;
    background: var(--bColor);
    display: grid;
    place-items: center;
}

.item-content{
    flex: 1rem;
    padding: .2rem .5rem;
}

.icon-bg{
    height: 100%;
}

.feature-title{
    font-size: 1rem;
    opacity: .8;
}

.feature-stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-stats{
    font-size: 1.35rem;
    font-weight: 800;
}
.feature-stats:hover{
    transform: scale(1.1);
}

.feature-stats-rate{
    font-size: .5rem;
    color: var(--aColor);
    opacity: .8;
}

.feature-icon{
    color: var(--aColor);
    font-size: .75rem;
}

.negative{
    color: var(--bColor);
}

.feature-sub{
    font-size: .7rem;
    opacity: .4;
}

/* 
SIDEBAR: Sidebar Stylesheet
*/
.sidebar{
    grid-column: span 3;
    width: 200px;
    height: calc(100vh - 5rem);
}

.sidebar-container{
    margin: .5rem .2rem;
}

.sidebar-menu{
    list-style-type: none;
}

.sidebar-title{
    opacity: .8;
}

.sidebar-list{
    list-style-type: none;
}

.sidebar-item{
    margin: .3rem auto;
}

.sidebar-icon{
    margin: .3rem 1rem;
}

.icon-sup{
    font-size: .55rem;
    opacity: .55;
}

/* 
HOME: Home stylesheet
*/
.home{
    width: '100%';
    height: auto;
    overflow-x: hidden;
    transition: all 200ms;
}
.home-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.home-row{
    margin: .3rem auto;
    padding: .7rem .5rem; 
}
.home-features{
    gap: .5rem;
}
.home-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.home-welcome{
    place-items: start;
    height: 16rem;
}
.home-barchart{
    place-items: end;
    height: 16rem;
}
.home-analytics{
    height: 8rem;
}
.home-report{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 8rem;
}