html{
    margin: 0 auto;
    background: var(--sColor);
    color: var(--dColor);
    --sColor: #261E35;
    --aColor: #4DBBF6;
    --bColor: #EC5EB7;
    --cColor: #B783EB;
    --dColor: #ffffff;
    --eColor: #e4e4e4;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.topbar{
    grid-column-start: 1;
    grid-column-end: 12;
}
.sidebar{
    grid-column-start: 1;
    grid-column-end: 3;
}
.content{
    grid-column-start: 3;
    grid-column-end: 12;
    position: relative;
}

/* 
 TOPBAR: Topbar stylesheet
*/
.topbar{
    width: 100%;
    height: 5rem;
    overflow: hidden;
}

.topbar-container{
    width: 100%;
    display: block;
    position: relative;
}

.topbar-left{
    top: 0;
    left: 0;
    position: absolute;
    margin: .5rem auto;
}

.topbar-right{
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.topbar-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo{
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

/* 
BANNER: Banner stylesheet
*/
.banner{
    width: 90%;
    height: 95%;
    box-shadow: 0 0 .3rem;
    border-radius: .3rem;
    margin: .5rem auto;
    font-size: 1rem;
    display: flex;
    position: relative;
    background: rgb(77,187,246);
    background: linear-gradient(241deg, rgba(77,187,246,1) 0%, rgba(183,131,235,1) 42%, rgba(236,94,183,1) 100%);
}

.banner-content{
    flex: .6;
    padding: .3rem .5rem;
}

.banner-button{
    border: none;
    font-size: .8rem;
    background: var(--sColor);
    color: var(--dColor);
    box-shadow: 0 0 .1rem #261E35;
    border-radius: .2rem;
    padding: .3rem .8rem;
}

.banner-button:hover{
    opacity: .8;
}

.banner-image{
    flex: .3;
    padding: 0;
    position: relative;
}

.banner-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* 
 FEATURES: Features stylesheet
*/
.feature{
    width: 100%;
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.feature-item{
    width: 90%;
    height: 5rem;
    display: flex;
    margin: .2rem .5rem;
    box-shadow: 0 0 .1rem var(--bColor);
    border-radius: .3rem;
    position: relative;
}

.item-icon{
    flex: .3;
    width: 100%;
    height: 100%;
    background: var(--bColor);
    display: grid;
    place-items: center;
    transition: ease-in 200ms;
}

.icon-bg:hover{
    transform: scale(1.5);
}

.item-content{
    flex: 1rem;
    padding: .2rem .5rem;
}

.icon-bg{
    height: 100%;
}

.feature-title{
    font-size: 1rem;
    opacity: .8;
}

.feature-stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-stats{
    font-size: 1.35rem;
    font-weight: 800;
}
.feature-stats:hover{
    transform: scale(1.1);
}

.feature-stats-rate{
    font-size: .5rem;
    color: var(--aColor);
    opacity: .8;
}

.feature-icon{
    color: var(--aColor);
    font-size: .75rem;
}

.negative{
    color: var(--bColor);
}

.feature-sub{
    font-size: .7rem;
    opacity: .4;
}

/* 
SIDEBAR: Sidebar Stylesheet
*/
.sidebar{
    width: 100%;
    margin-right: .3rem;
    height: calc(100vh - 5rem);
    position: relative;
    border-right: .3rem solid rgba(0,0,0,.3);
}

.sidebar-container{
    margin: 0;
}

.sidebar-menu{
    list-style-type: none;
    margin: 0;
    padding: .5rem .5rem;
}

.sidebar-title{
    color: var(--eColor);
    font-size: 1.45rem;
    font-weight: 800;
    font-style: oblique;
    opacity: .8;
    transition: ease-in 200ms;
}

.sidebar-list{
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sidebar-item{
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: var(--eColor);
    margin-bottom: 1rem;
    transition: ease-in;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-item:hover{
    transform: scale(1.1) translateX(-1rem);
    color: var(--aColor);
}

.sidebar-icon{
    margin: .3rem 1rem;
    transform: scale(1.5);
}
/* 
HOME: Home stylesheet
*/
.home{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: .5rem;
    grid-row-gap: .5rem;
    grid-column-gap: .5rem;
}

.home-section{
    min-height: 8rem;
    box-shadow: 0 0 .2rem #000;
    position: relative;
}

.section-menu{
    grid-column-start: 1;
    grid-column-end: 8;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-banner{
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: none;
}

.section-chartR{
    padding-left: 2rem;
    grid-column-start: 4;
    grid-column-end: 8;
}
.section-chartA{
    grid-column-start: 1;
    grid-column-end: 5;
}
.section-chartP{
    grid-column-start: 5;
    grid-column-end: 8;
}
.section-chartL{
    grid-column-start: 5;
    grid-column-end: 8;
}
.section-chartB{
    grid-column-start: 1;
    grid-column-end: 5;
}
/* 
ANALYTICS: Analytics section stylesheet
*/
.analytics-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: .5rem;
    grid-column-gap: .5rem;
}

.analytics-section{
    grid-column: span 3;
}

.analytics-chart{
    height: 30rem;
}