/* html{
    margin: 0 auto;
    background: rgb(38,30,53);
    color: var(--dColor);
    --sColor: #261E35;
    --aColor: #4DBBF6;
    --bColor: #EC5EB7;
    --cColor: #B783EB;
    --dColor: #ffffff;
    --eColor: #e4e4e4;
    overflow-x: hidden;
} */

:root {
    --aColor: #4DBBF6;
    --bColor: #EC5EB7;
    --cColor: #B783EB;
}

body {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: white;
}

/* Button Styles */
button {
    background-color: var(--aColor);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--bColor);
}

/* Link Styles */
a {
    color: var(--cColor);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--bColor);
}

/* Additional Styles for other UI elements */
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.input-field {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    width: 100%;
    margin: 10px 0;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* body {
    margin: 0;
    height: 100vh;
    background: 
        linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), 
        url('./assets/background.png');
    background-size: cover;
    background-position: right; 
    color: #ffffff;
    font-family: Arial, sans-serif;
} */

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.topbar{
    grid-column-start: 1;
    grid-column-end: 13;
}

.sidebar{
    grid-column-start: 1;
    grid-column-end: 3;
}

.content{
    grid-column-start: 3;
    grid-column-end: 13;
    padding: .5rem 1.5rem;
    position: relative;
    background-image: url("./assets/background.png");
    background-color: transparent;
}

/* 
 TOPBAR: Topbar stylesheet
*/
.topbar{
    width: 100%;
    height: 5rem;
    overflow: hidden;
}

.topbar-container{
    width: 100%;
    display: block;
    position: relative;
}

.topbar-left{
    top: 0;
    left: 0;
    position: absolute;
    margin: .5rem auto;
}

.topbar-right{
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.topbar-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo{
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

/* 
BANNER: Banner stylesheet
*/
.banner{
    width: 90%;
    height: 95%;
    box-shadow: 0 0 .1rem #4dbbf6;
    border-radius: .3rem;
    margin-left: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    position: relative;
    background: rgb(77,187,246);
    background: linear-gradient(241deg, rgba(77,187,246,1) 0%, rgba(183,131,235,1) 42%, rgba(236,94,183,1) 100%);
}

.banner-content{
    flex: .6;
    padding: .3rem;
}

.banner-button{
    border: none;
    font-size: 1rem;
    background: var(--sColor);
    color: var(--dColor);
    box-shadow: 0 0 .1rem #261E35;
    border-radius: .2rem;
    padding: .5rem 1rem;
    transition: ease-in 200ms;
}

.banner-button:hover{
    opacity: .8;
    transform: scale(1.1);
}

.banner-image{
    flex: .3;
    padding: 0;
    position: relative;
}

.banner-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* 
 FEATURES: Features stylesheet
*/
.feature{
    width: 100%;
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.feature-item{
    width: 98%;
    height: 6.5rem;
    display: flex;
    margin-right: 1rem;
    box-shadow: 0 0 0.2rem #4dbbf6; 
    border-radius: .3rem;
    position: relative;
}

.feature-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
}

.item-icon{
    flex: .3;
    width: 100%;
    height: 100%;
    background: var(--aColor);
    display: grid;
    place-items: center;
    transition: ease-in 200ms;
}

.icon-bg:hover{
    transform: scale(1.5);
}

.item-content{
    flex: 1rem;
    padding: .2rem .5rem;
}

.icon-bg{
    height: 100%;
}

.feature-title{
    font-size: 1.25rem;
    opacity: .8;
}

.feature-stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-stats{
    font-size: 2rem;
    font-weight: 800;
}

.feature-stats:hover{
    transform: scale(1.1);
}

.feature-stats-rate{
    font-size: .5rem;
    color: var(--aColor);
    opacity: .8;
}

.feature-icon{
    color: var(--aColor);
    font-size: .75rem;
}

.negative{
    color: var(--bColor);
}

.feature-sub{
    font-size: .7rem;
    opacity: .4;
}

/* 
SIDEBAR: Sidebar Stylesheet
*/
.sidebar{
    width: 100%;
    margin-right: .3rem;
    height: calc(100vh - 5rem);
    position: relative;
    border-right: .3rem solid rgba(0,0,0,.3);
}

.sidebar-container{
    margin: 0;
}

.sidebar-menu{
    list-style-type: none;
    margin: 0;
    padding: .5rem .5rem;
}

.sidebar-title{
    color: var(--eColor);
    font-size: 1.45rem;
    font-weight: 800;
    font-style: oblique;
    opacity: .8;
    transition: ease-in 200ms;
}

.sidebar-list{
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sidebar-item{
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: var(--eColor);
    margin-bottom: 1rem;
    transition: ease-in;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.active-item{
    position: position;
    background: transparent;
    color: var(--aColor);
}

.active-item::after{
    position: absolute;
    left: 0;
    width: 400px;
    background: rgba(0, 0, 0, 0.4);
    color: var(--aColor);
    z-index: 99;
}

.sidebar-item:hover{
    transform: scale(1.1) translateX(-1rem);
    color: var(--aColor);
}

.sidebar-icon{
    margin: .3rem 1rem;
    transform: scale(1.5);
}
/* 
HOME: Home stylesheet
*/
.home{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-left: .5rem;
    grid-row-gap: .5rem;
    grid-column-gap: .5rem;
}

.home-section{
    height: 18rem;
    box-shadow: 0 0 .2rem #000;
    position: relative;
    grid-row: span 2;
}

.section-menu{
    grid-column-start: 1;
    grid-column-end: 9;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-banner{
    grid-column-start: 1;
    grid-column-end: 5;
    box-shadow: none;
}

.section-chartR{
    grid-column-start: 5;
    grid-column-end: 9;
}
.section-chartA{
    grid-column-start: 1;
    grid-column-end: 6;
}
.section-chartP{
    grid-column-start: 6;
    grid-column-end: 9;
}
.section-chartL{
    grid-column-start: 6;
    grid-column-end: 9;
}
.section-chartB{
    grid-column-start: 1;
    grid-column-end: 6;
}
/* 
ANALYTICS: Analytics section stylesheet
*/
.analytics-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-row-gap: .5rem;
    grid-column-gap: .5rem;
}

.analytics-section{
    height: 8rem;
    grid-column: span 3;
    grid-row: span 2;
}

.analytics-chart{
    height: 30rem;
}

.section-transaction{
    grid-column-start: 1;
    grid-column-end: 10;
}

/* 
Transaction Table: 
*/
.tableWrapper {
    background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), 
    url('./assets/background.png') !important;
    color: #FFFFFF !important; 
}

.tableWrapper th, .tableWrapper td {
    padding: 15px;
    text-align: left;
    color: #FFFFFF !important; 
}

.tableWrapper th {
    background-color: #4DBBF6; /* Header background */
}

.tableWrapper tr:nth-child(even) {
    background-color: #B783EB;
    color: #FFFFFF !important; 
}

.tableWrapper tr:hover {
    background-color: #EC5EB7; /* Hover effect */
}

.status-button {
    background-color: #4DBBF6; /* Button background */
    color: #FFFFFF; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.status-button:hover {
    background-color: #EC5EB7; /* Button hover effect */
}
/* 
MARKETPLACE: 
*/
.marketplace {
    background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), 
    url('./assets/background.png') !important;
    color: #FFFFFF !important; 
    padding: 20px;
    max-height: 100vh;
    overflow: hidden;
}

.market-wrapper {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.marketplace-header {
    text-align: center;
    margin-bottom: 20px;
}

.header-title {
    color: #EC5EB7; /* Pink title */
}

.marketplace-body {
    display: flex;
    justify-content: space-between;
}

.marketplace-filters {
    flex: 1;
    margin-right: 20px;
    background-color: var(--sColor);
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.filter {
    margin-bottom: 15px;
}

.marketplace-main {
    flex: 2;
    display: inline-flex;
    flex-wrap: wrap;
}

.nft-card {
    max-width: 300px;
    background-color: #261E35;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-right: .8rem;
    transition: transform 0.2s;
}

.nft-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.nft-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.nft-title {
    font-size: 1.2em;
    margin: 10px 0 5px;
    color: #EC5EB7; /* Pink text for NFT title */
}

.nft-description {
    color: #FFFFFF; /* White text for NFT description */
}

.nft-data {
    margin-top: 10px;
    color: #FFFFFF; /* White text for NFT data */
}

button {
    background-color: #EC5EB7; /* Pink button */
    color: #FFFFFF; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #B783EB; /* Light purple on hover */
}

/* 
TRANSACTION: Transaction Stylesheet
*/
.transaction {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 20px 0;
}

.transaction-wrapper {
    display: flex;
    flex-direction: column;
}

.transaction-item {
    margin-bottom: 20px;
}

.transaction-history {
    margin-top: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

h3, h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white; 
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white; 
}

th {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

tr:focus {
    outline: 2px solid var(--aColor);
}

@media (max-width: 600px) {
    .transaction-wrapper {
        flex-direction: column; 
    }

    th, td {
        font-size: 0.9em;
    }
}